@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

}

html {
      /*font-family: Helvetica;*/
      font-family: sans-serif;
      display: inline-block;
      /*text-align: center;*/
     }

h1 {
    color: #0F3376;
    font-size:22px;
    /*padding: 1vh;  /*Relative to 1% of the height of the viewport*/
   }

p  {
    font-size: .5em; /*rem = root element size*/
   }

.button {
         display: inline-block;
         width: 4.6em;
         background-color: #008CBA;
         border: none;
         border-radius: 4px;
         color: white;
         padding: 10px;
         text-decoration: none;
         font-size: 20px;
         margin: 2px;
         cursor: pointer;
        }

.button2 {
          background-color: #f44336;
         }


.container {
            display: inline-block;
            width: 100%;
            text-align: left;
            float: left;
           }

.subcontainer1 {
		        margin: 2px;
		        /*width: 470px; */
		        width: 100%;
		        /*height: 400px;*/
		        padding: 5px;
		        border: 1px solid black;
		        border-radius: 5px;
		        background-color: coral;
		       }

.instr1 {
		 display: inline-block;
		 font-size: 10pt;
	     font-weight: bold;
		 text-align: left;
		 padding: 0px 6px 6px 6px;
		 border-radius: 5px;
		 background-color: #ecec56
	    }

.disp1 {
		float: left;
	    width: 2.0em;
	    margin: 4px 2px;
	    padding: 1px;
	    text-align: right;
	    border: 1px solid black;
	    line-height: 20px;
	    font-size: 20px;
	    font-weight: bold;
	    background-color: #edeae1;
	   }

.disp2 {
		float: left;
	    height: 14px;
	    width: 3em;
	    padding: 2px;
	    text-align: right;
	    border: 1px solid black;
	    line-height: 14px;
	    font-size: 12px;
	    font-weight: bold;
	    background-color: #edeae1;
	    color: blue;
	   }

.lbl1  {
        float:left;
        padding:1px;
        margin-top:4px;
        text-align:center;
        line-height:22px;
        font-size:22px;
        font-weight:bold;
       }

.lbl2  {        
        float:left;
        padding:1px;
        margin-top:7px;
        text-align:right;
        line-height:16px;
        font-size:16px;
       }

.select-css {
  float: none;
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;

  padding: .6em 1.4em .5em .8em;
  width: 100%;
  /*height: 2em;*/
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /*URL encoded format for SVG https://www.urldecoder.org/ */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right .7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: .65em auto, 100%;
  }

  /* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none;
}
/* Hover style */
.select-css:hover {
  border-color: #888;
}
/* Focus style */
.select-css:focus {
  border-color: #aaa;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

/* Set options to normal weight */
.select-css option {
  font-weight:normal;
}

/* The container */
.container1 {
  float: none;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #444;
  line-height: 1;
  margin: 0;
  padding: .8em 1.4em .7em 1.8em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 7px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.led {
    margin: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: #000 0 -1px 6px 1px;
}

.led-red {
    background-color: #F00;
    box-shadow: #000 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}

.led-orange {
    background-color: #FF7000;
    box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}

.led-yellow {
    background-color: #FF0;
    box-shadow: #000 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}

.led-green {
    background-color: #80FF00;
    box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}

.led-blue {
    background-color: #06F;
    box-shadow: #000 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px;
}

.min-max-label {
    font-size: 9px; margin: 0; position: absolute; top: 50%; transform: translateY(-50%);  
}

.min-max-reset {
  position: absolute; top: 50%; transform: translateY(-50%); left: 92%; padding: 1px; border: 1px solid black; font-size: 10px; cursor: pointer; color: red; background-color: azure;
}

.row1
{
  background-color: rgb(187, 207, 212); 
}

.vu-meter-cont
{
  padding: 1px 2px 1px 2px;
  background: #e6e4ec;
  border: solid black;
  border-width: 1px;
  border-radius: 5px;
}

.vu-meter {
  width: 1%;
  background: rgb(3, 177, 12);
  text-align: center;
  border-radius: 4px;
  transition: width 1s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*=======================================================================================*/
#compass {
	width: 70px; height: 70px;
	border-radius: 50%;
	margin: 10px auto 15px 55px;
	position: relative;
	
	border: 10px solid #777;
	
	background: radial-gradient(
		ellipse cover,
		white,
		#A3E2FC
	);
	
	box-shadow:
		0 0 4px #000,
		0 0 1px 8px #ccc,
		5px 10px 15px #48436f;
	
	transition: transform 0.5s ease, box-shadow 0.5s ease;
	/*transform: scale(0.5);*/
}

#compass:before {
	content: '';
	
	border: 2px dashed #444;
	position: absolute;
	left: 3px; right: 3px;
	bottom: 3px; top: 3px;
	
	border-radius: 50%;
}



/* neat! lets position the directions now - N E S W */

#compass span {
	position: absolute;
	font-weight: bold;
  font-size: 10px;
}

/* North */
#compass span:nth-child(1) {
	left: 32px; top: 7px;
}
/* South */
#compass span:nth-child(3) {
	left: 32px; bottom: 7px;
}

/* East */
#compass span:nth-child(2) {
	right: 7px; top: 32px;
}
/* West */
#compass span:nth-child(4) {
	left: 7px; top: 32px;
}

/* Next up, is the pointer */

#pointer {
	width: 30px; height: 14px;
	
	/* Centering it */
	position: relative;
	left: 50%; top: 50%;
	margin-left: -15px; margin-top: -7px;
	animation: rotate 5s cubic-bezier(1,.2,.5,1) infinite alternate;
  transition: transform 1s;
}

/* Now the trick i wanna use to create a diamond
shaped pointer is to skew the #pointer

But for some reason that did'nt work hence I did it
on #pointer:before */

#pointer:before {
	content: '';
	
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	
	background: linear-gradient(
		-63deg,
		rgba(79,188,242,1) 1%,
		rgba(26,110,206,1) 50%,
		rgba(216,216,216,1) 51%,
		rgba(244,94,80,1) 53%,
		rgba(255,45,45,1) 100%
	);
	transform: skewX(60deg);
}

/* Looks good, lets make the pointer's joint now */

#pointer:after {
	content: '';
	
	width: 6px; height: 6px;
	background: #4781c0;
	border-radius: 50%;
	box-shadow:
		inset 0 0 4px 2px #4d4d4d,
		0 0 5px 1px white;
	
	/* centering it */
	position: absolute;
	left: 50%; top: 50%;
	margin-left: -3px; margin-top: -3px;
}
